[project]
	description = example code
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vldung
[access "refs/for/refs/*"]
	read = group user/vldung
	push = group user/vldung
	label-Code-Review = -2..+2 group user/vldung
	label-Verified = -1..+1 group user/vldung
	rebase = group user/vldung
	removeReviewer = group user/vldung
	submit = group user/vldung
[access "refs/heads/*"]
	read = group user/vldung
	create = group user/vldung
	push = +force group user/vldung
	pushMerge = group user/vldung
[access "refs/tags/*"]
	push = +force group user/vldung
	pushTag = group user/vldung
	pushSignedTag = group user/vldung
